.signup_form
  %h2 新規登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .name_field
      = f.label :name, class: "name_label"
      %br/
      = f.text_field :name, class: "name_box"
    .mail_field
      = f.label :email, class: "mail_label"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "mail_box"
    .pass_field
      = f.label :password, class: "pass_label"
      - if @minimum_password_length
        %em
          (#{@minimum_password_length}文字以上)
      %br/
      = f.password_field :password, autocomplete: "new-password", class: "pass_box"
    .re_pass_field
      = f.label :password_confirmation, class: "re_pass_label"
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "re_pass_box"
    .actions
      = f.submit "新規登録", class: "signup_submit"
  -# = render "devise/shared/links"
