.show_article
  .show_article_name
    .username
      = "#{@name}さんの投稿一覧"
  .show_article_post
    - @posts.each do |post|
      .user_post
        = link_to post_path(post) do
          .show_article_post_img
            = image_tag post.img.url, width: "100%", class: "img"
          .show_article_post_title.title-font
            = post.title.truncate(100)
        .show_article_post_text.text-font
          = safe_join(post.text.truncate(250).split("\n"), tag(:br))
.paginate
  = paginate @posts