.login_form
  %h2 ログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .mail_field
      = f.label :email, class: "mail_label"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "mail_box"
    .pass_field
      = f.label :password, class: "pass_label"
      %br/
      = f.password_field :password, autocomplete: "current-password", class: "pass_box"
    - if devise_mapping.rememberable?
      .rem_field
        = f.check_box :remember_me, class: "rem_box"
        = f.label :remember_me, class: "rem_label"
    .actions
      = f.submit "ログイン", class: "login_submit"
  -# = render "devise/shared/links"
