= form_with(url: posts_searches_path, local: true, method: :get) do |f|
  = f.text_field :keyword
  = f.submit "検索"
.article
  - @posts.each do |post|
    = link_to post_path(post), "data-turbolinks": false do
      .post
        .post_img
          = image_tag post.img.url, width: "100%", class: "img"
        .post_title
          = post.title
        .post_text
          = safe_join(post.text.split("\n"), tag(:br))
        .post_user
          = post.user.name