!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BRING ME APP BOOK
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header.container
      .header_inner.row
        .module.col-md-6
          %h1.logo
            = link_to "BRING ME APP BOOK", root_path
        .module.col-md-6
          - if user_signed_in?
            .nav
              .btn-group
                .item.username
                  = link_to current_user.name, "/users/#{current_user.id}", class: "btn btn-primary username-btn"
                .dropdown-toggle.dropdown-toggle-split.btn.btn-primary{data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"}}
                  = icon('fas', 'sort-down', class: "icon")
                  %span.sr-only
                    Toggle Dropdown
                .dropdown-menu
                  .dropdown-item
                    = link_to "マイページ", "/users/#{current_user.id}"
                  .dropdown-item
                    = link_to "ログアウト", destroy_user_session_path, method: :delete
              .item.post-btn
                = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-primary log-out"
              .item.post-btn
                = link_to "投稿", new_post_path, class: "btn btn-primary post-btn"
          - else
            .nav
              .item.login-btn
                = link_to "ログイン", new_user_session_path, class: 'btn btn-primary log-in'
              .item.signup-btn
                = link_to "新規登録", new_user_registration_path, class: 'btn btn-primary'
    .wrapper
      .wrapper_inner
        = yield
    %footer.footer.container
      %p.row
        © 2020 BEING ME APP BOOK All Rights Reserved.